@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import './var';
@import './container.scss';
@import './components/header.scss';
@import './components/button.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  background: $white;
  height: 100%;
}
