@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import './var';
@import './container.scss';
@import './components/header.scss';
@import './components/nav.scss';
@import './components/button.scss';
@import './components/hero.scss';
@import './components/categories.scss';
@import './components/title.scss';
@import './components/products.scss';
@import './components/product-card.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Rubik', sans-serif;

  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: $white;
  height: 100%;
}
