$red: #e81212;
$bg: #fbe0e0;
$yellow: #fccd05;
$yellow-6: #f58020;
$bg-yellow: #fdefb6;
$gray-5: #443e3e;
$text: #646469;
$gray-4: #999;
$gray-3: #ccc;
$white: #fff;
$blue-4: #478ecc;
$green-5: #69a042;
$grad: linear-gradient(90deg, #e81212 0%, #fccd05 100%);
