.advantages {
}
.container {
}
.title {
}
.advantages__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 3rem;
}
.advantage {
  position: relative;

  display: grid;
  place-items: center center;
  padding: 2rem 3.5rem;

  &:not(:nth-child(3n + 3)) {
    border-right: 1px solid $bg;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $bg;
    bottom: -1.5rem;
  }
}

.advantage__icon {
  display: grid;
  place-items: center center;

  margin-bottom: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: $bg;
  border-radius: 100px;
}
.advantage__tille {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
.advantage__text {
  color: $text;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
