.title {
  margin-top: 10rem;
  position: relative;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  color: $gray-5;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.5rem;
    width: 200px;
    height: 3px;
    background-color: $yellow;
  }

  &_center {
    text-align: center;

    &::after {
      left: 50%;
      transform: translate(-50%);
    }
  }
}
